name: Release Builder

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build for Windows
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install Dependencies
        run: go mod tidy

      - name: Build Binary
        run: |
          go build -ldflags "-s -w -H=windowsgui" -o "PureLink-${{ github.ref_name }}-Windows.exe"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: PureLink-*-Windows.exe
          generate_release_notes: true